# Basic Python

## Menulis 'Hello World!!!'

In [1]:
print('Hello World!!!')

Hello World!!!

## Default akhir dari fungsi print adalah newline (\n)

In [2]:
print('Hello')
print('world')

Hello
world

## Mengubah Default Akhir dari Fungsi print

In [3]:
# Mengakhiri dengan whitespace
print("hello", end = " ")
print("world")

# Mengakhiri tanpa whitespace
print("hello", end = "")
print("world")

hello world
helloworld

##Memasukkan Variable di antara String dalam print

In [4]:
text = "aloha"
angka = 5
print("hello", text, "world")
print("hello", angka, "world")

hello aloha world
hello 5 world

##Memasukkan Lebih dari 1 Variable dalam print

In [5]:
x = 4
y = 18
z = x+y
print("hasil penambahan %s dengan %s adalah %s" % (x,y,z))

hasil penambahan 4 dengan 18 adalah 22

#Menerima Inputan dari Pengguna

In [6]:
var1 = print(input("input disini: "))
print(var1)

input disini: 123
123
None

##Menerima Inputan dari Pengguna berupa Integer

In [7]:
var1 = int(input("input disini 1: "))
var2 = int(input("input disini 2: "))
print("hasil tambah: ",var1+var2)

input disini 1: 1
input disini 2: 3
hasil tambah:  4

##Aritmatika dalam Python

In [8]:
a = 3
b = 5
c = 7
z = c/a

print(a+b)
print(a-b)
print(b-a)
print(a*b)
print(c/a)
print("\n")

#modulo (sisa bagi)
print("sisa bagi",c%a)
print("\n")

#mengubah tipe data
print(float(a+b))
print(round(float(c/a),2))

print(str(c/a))

#penambahan dalam string artinya "append"
x = "hallo"
y = "world"
print (x+y+"\n")

z = str(c/a)
w = '600'

print(type(w))
print(z+w)

8
-2
2
15
2.3333333333333335


sisa bagi 1


8.0
2.33
2.3333333333333335
halloworld

<class 'str'>
2.3333333333333335600